[submodule "Assets/Plugins/UiFramework"]
	path = Assets/Plugins/UiFramework
	url = ../Unity-uiframework.git
	[submodule "Packages/eggsgd.uiframework"]
		path = Packages/eggsgd.uiframework
		url = git@github.com:eggs-gd/Unity-uiframework.git